.box{ height: 85%;
		width: 34%;
		margin-top: 50px;
		margin-right: 110px;
		margin-left: 420px;
		background-color: white;
		border-radius: 18px; }

.button-box{
	height: 20%;
	width: 100%;
	margin-top: 80px;
	margin-left: 20px;
	padding-top: 20px;
	
}
.toggle{
	height: 50px;
	width: 370px;px;
	border-radius: 10px;
	background: linear-gradient(to right, blue,white);
	font-size: 20px;
	

}
.toggle1{
	height: 50px;
	width: 370px;px;
	border-radius: 10px;
	background: linear-gradient(to right, green,white);
	font-size: 20px;}

.social{
	margin-top: 270px;
	margin-left: 200px;
	

}
.social img{
	padding: 5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.input{
	margin-left: 20px;
	width:100%;
	height: 25px;
	margin-top: 20px;
}
.field{
	width: 90%;
	padding: 25px;
	height: 30px;
	font-size: 20px;
	border-top: 0;
	border-bottom: 1px solid;
	border-left: 0;
	border-right: 0;
}
.submit{
	margin-left: 130px;
	font-size: 25px;
	border-radius: 10px;
	background:linear-gradient(to right, blue,white);
	padding: 5px;
height:50px;
width: 105px;
cursor: pointer;}
.submit1{
	margin-left: 130px;
	font-size: 25px;
	border-radius: 10px;
	background:linear-gradient(to right, green,white);
	padding: 5px;
height:50px;
width: 105px;
cursor: pointer;}
